*, *::before, *::after {
  box-sizing: border-box;
}

// colour variables
$background: #007EA7;
$wrap: #003249;
$btn-colour: #353B3C;

$byte: #BCD3F2;
$overflow: #C73E1D;
$grey: #CCC;
$muted-black: #252422;

$colour-1: #8ACDEA;
$colour-2: #CCDBDC;

body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  background-color: $background;
  display: flex;
}

.main-wrap {
  flex-direction: column;
  border-radius: 0.5rem;
  height: auto;
  width: auto;
  padding: 10px;
  background-color: $wrap;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: stretch;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.byte {
  background-color: $byte;
  border-radius: 0.5rem;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.overflow {
    background-color: $overflow;
  }
}

.byte-wrap {
  display: flex;
}

.btn-wrap {
  display: flex;
  flex-direction: column;
}

.bit {
  border-radius: 0.5rem;
  margin: 5px;
  text-align: center;
  border: solid 5px $muted-black;
  background-color: $grey;
  font-size: 4rem;
  user-select: none; 
}

.byte-edit {
  color: $grey;
}

.dec-wrap {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  color: $grey;
}

.num-input {
  padding: 0;
  font-size: 2rem;
  white-space: pre;
  font-family: 'Roboto Mono', monospace;
  background-color: transparent;  
  border: none;
  color: $grey;
  &:focus {
    border: none;
  }
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

button {
  background-color: $btn-colour;
  border-radius: .5rem;
  color: $grey;
  font-size: 1rem;
  font-family: 'Roboto Mono', monospace;
}

.side-btns {
  display: flex;
  position: absolute;
  flex-direction: row;
}
