.bytes {
  border-radius: 0.5rem;
  padding: 10px;
  background-color: rgb(10, 50, 122);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: stretch;
}

.byte {
  background-color: #abc;
  border-radius: 0.5rem;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.overflow {
    background-color: #dd360c;
  }
}

.bits-wrap {
  display: flex;
}

.bit {
  border-radius: 0.5rem;
  margin: 5px;
  text-align: center;
  border: solid 5px #222;
  background-color: #ccc;
  font-size: 4rem;
  user-select: none;
}
