@import "variables";

.sidebar {
  height: 100vh;
  width: 20vw;
}

.byte-edit {
  color: $text-colour;
}

.dec-wrap {
  display: flex;
  flex-direction: row;
  font-size: 2rem;
  color: $text-colour;
}

.num-input {
  padding: 0;
  font-size: 2rem;
  white-space: pre;
  font-family: "Roboto Mono", monospace;
  background-color: transparent;
  border: none;
  color: $text-colour;

  &:focus {
    border: none;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
