$button-colour: rgb(64, 24, 209);
$background-colour: rgb(10, 71, 112);
$text-colour: #ccc;
$byte-group-colour: rgb(10, 50, 122);
$byte-single-colour: #abc;
$byte-overflow-colour: #dd360c;
$bit-bg-colour: $text-colour;
$bit-border-colour: #222;
