@import "partials/variables";
@import "partials/buttons";
@import "partials/bytes";
@import "partials/sidebar";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: $background-colour;
}

.container {
  display: flex;
}

.main {
  display: flex;
  width: 75vw;

  align-items: center;
  justify-content: center;
}
